@import url(./reset.css);
@import url(./layout.css);

nav { 
    position: absolute; 
    left: 0rem; 
    top: 0rem;  
    z-index: 999;
} 
nav h1 > a { 
    display: block;
    border-radius: 50%; 
    width: 5rem; 
    height: 5rem; 
    text-align: center;
    transform: translateY(1.6rem);
    position: relative;
}
nav h1 .lg_txt {
    color: #F3F4F6;
    position: absolute;
    top: 1.7rem;
    left: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 12px;
    transform: rotate(-10deg);
}
nav .menu {
    flex: 2;
    display: flex;
    line-height: 8.4rem;
    justify-content: flex-end;
    gap: 4%;
}
nav .menu a {font-size: 2rem;}

.fa-solid.fa-bars {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%) scale(2);
    opacity: 0;
}

@media (max-width: 1000px) {
    .menu {opacity: 0;}
    .fa-solid.fa-bars {opacity: 1;}
}

/* ====================================
    ======= main_visual ======    
==================================== */

.main_visual {
    background-image: url(../source/origin/background.svg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main_visual .text {
    padding-top: 18%; 
}
.main_visual .text h3 {color: var(--accent1);}
@media (min-width: 1300px) {
    .main_visual .text {
        margin-right: var(--unit);
    }
}

/* 버튼 */
.main_visual .btn {gap: calc(var(--unit) * 0.5);}
.main_visual .btn > div {
    border-radius: 4rem; 
    width: calc(var(--unit) * 1.5);
    height: calc(var(--row) * 2.5);
    line-height: calc(var(--row) * 2.4);
    text-align: center;
    transition: all 0.2s;
    margin-top: var(--row);
}
.btn a {
    display: block;
    font-size: 2.4rem;
    font-weight: 600;
}
.btn_resume {
    background: var(--accent1, #fd346e); 
    color: white;
}
.btn_resume:hover {
    background-color: white;
    border: var(--accent1) solid 3px;
    color: black;
}
.btn_git {
    background: var(--accent4, #fcdc00); 
}
.btn_git:hover {
    background-color: white;
    border: var(--accent4) solid 3px;
}

/* 프로필사진 */
.main_visual .profile_img {
    width: 100%;
    max-width: calc(var(--unit) * 5);
    height: 100%;
    margin-left: -4rem;
    padding-top: calc(var(--row) * 4);
    position: relative;
    z-index: 5;
}
.profile_img img {
    width: 100%;
    height: auto;
}

.person .left_img {
    position: absolute;
    top: 0;
}
.left_img > img {
    position: absolute; 
    transform: scale(0.8);
    z-index: 999;
    transition: all 0.2s;
}
.left_img .left3 {
    top: 72rem; 
    left: -13rem;
    transform: scale(1); 
    z-index: 1;
}

.right_img {
    position: absolute; 
    top: 0; 
    z-index: 999;
}
.right_img > img {
    position: absolute; 
    transform: scale(0.7);
    transition: all 0.2s;
}
.right_img .right1 {
    top: 20rem; 
    left: 50rem; 
    transform: scale(1)
}

.person .circ {
    width: 2rem;
    height: 2rem;
    background-color: #333;
    border-radius: 50%;
    position: absolute;
    z-index: 999;
}
.left_img .circ:first-child {
    background-color: var(--accent1);
    left: 0rem;
    top: 17rem;
}
.left_img .circ:nth-of-type(2) {
    background-color: var(--accent2);
    left: 12rem;
    top: 40rem;
    width: 3rem;
    height: 3rem;
}
.right_img .circ {
    background-color: var(--accent4);
    left: 55rem;
    top: 55rem;
}


@media (max-width: 1350px) {
    .right_img {left: -1.5rem;}
    .left_img .left3 {
        top: 72rem; 
        left: -10rem;
    }
    .left_img .circ:first-child {
        left: 0rem;
        top: 17rem;
    }
    .left_img .circ:nth-of-type(2) {
        left: 5rem;
        top: 40rem;
    }
    .right_img .circ {
        left: 50rem;
        top: 60rem;
    }
}
@media (max-width: 1250px) {
    .main_visual .profile_img {transform: scale(0.8);}
    .left_img > img {transform: scale(0.6);}
    .left_img .left3 {
        top: 63rem; 
        left: 2rem;
        transform: scale(1); 
        z-index: 1;}
    .right_img > img {transform: scale(0.6);}
    .right_img .right1 {top: 25rem; left: 42rem; transform: scale(1)}
    .left_img .circ:first-child {
        left: 5rem;
        top: 25rem;
    }
    .left_img .circ:nth-of-type(2) {
        left: 10rem;
        top: 40rem;
    }
    .right_img .circ {
        left: 45rem;
        top: 55rem;
    }
}

@media (max-width: 1150px) {
    .left_img > img {transform: scale(0.5);}
    .right_img > img {transform: scale(0.5);}
    .left_img .left3 {
        top: 58rem; 
        left: 0rem;
    }
    .right_img > .right1 {
        top: 23rem; 
        left: 38rem; 
        transform: scale(0.8)}
    .left_img .circ:first-child {
        left: 5rem;
        top: 20rem;
    }
    .left_img .circ:nth-of-type(2) {
        left: 8rem;
        top: 35rem;
    }
    .right_img .circ {
        left: 40rem;
        top: 55rem;
    }
}

@media (max-width: 1000px) {
    .main_visual {
        height: calc(var(--row) * 45);
    }
    .main_visual .inner {
        flex-direction: column;
        width: 100%;
        max-width: 62rem;
    }
    .main_visual .text {
        text-align: center;
        padding-top: 20%;
    }
    .main_visual .btn {justify-content: center;}
    .main_visual .person .profile_img {
        padding-top: 0;
        left: 5rem;
    }
    .left_img .left3 {
        top: 55rem; 
        left: 5rem;
    }
    .right_img .right1 {
        top: 15rem; 
        left: 50rem; 
    }
    .left_img .circ:first-child {
        left: 13rem;
        top: 17rem;
    }
    .left_img .circ:nth-of-type(2) {
        left: 17rem;
        top: 30rem;
    }
    .right_img .circ {
        left: 55rem;
        top: 55rem;
    }
}
@media (max-width: 600px) {
    .left_img .left3 {
        top: 40rem; 
        left: 5rem;
    }
    .right_img .right1 {
        top: 12rem; 
        left: 40rem; 
    }
    .left_img .circ:first-child {
        left: 10rem;
        top: 10rem;
    }
    .left_img .circ:nth-of-type(2) {
        left: 13rem;
        top: 24rem;
    }
    .right_img .circ {
        left: 40rem;
        top: 40rem;
    }
}

/* ====================================
    ======= about me ======    
==================================== */
.about_me h2 {
    text-align: center;
    line-height: calc(var(--row) * 6);
    padding-top: calc(var(--row) * 2);
}
.about_me h3, .about_me p.h5 {
    line-height: 175%;
}
.about_me h3 {color: var(--accent1);}

.about_me .text1 > div {
    width: 100%;
    max-width: var(--unit4);
    margin-bottom: calc(var(--row) * 2);
}

.circle {
    background-color: #FF895B;
    opacity: 0.2;
    width: var(--unit7);
    height: var(--unit7);
    position: absolute;
    border-radius: 50%;
    top: 30%;
    right: 0;
}

.about_me .text1, .about_me .text2 {
    position: relative;
    z-index: 9;
}
.about_me img {
    position: absolute;
    width: 400px;
    height: auto;
    bottom: calc(var(--row) * -8);
    right: var(--unit);
    z-index: 1;
    transition: all 0.5s;
}
@media (max-width: 1200px) {
    .about_me img {
        opacity: 0.7;
        width: 250px;
        height: auto;
        bottom: calc(var(--row) * -5);
        right: 5%;
    }
}

/* ====================================
    ======= skill ======    
==================================== */
.skill_box {
    width: 100%;
    max-width: var(--unit7);
    height: calc(var(--row) * 18);
    background-color: var(--accent3);
    color: white;
    margin: auto;
    transform: translateY(14rem);
    border-radius: 3rem;
    transition: all 0.3s;
    position: relative;
    z-index: 999;
}
.skill_box h3 {
    text-align: center;
    line-height: calc(var(--row) * 6);
}
.skill .point {
    font-size: 6.2rem; 
}
.skill .title {font-size: 2rem;}
.skill_box .text > div {
    width: 10rem;
    height: 15rem;
    text-align: center; 
}

.skill .text1 {
    justify-content: space-evenly; 
}
.skill .text2 {
    justify-content: space-around;
}

.skill_box:hover {
    box-shadow: var(--shadow3);
    transform: translateY(12rem) translateX(-1rem);
}

@media (max-width: 1000px) {
    .skill {
        height: calc(var(--row) * 40);
    }
    .skill_box {
        width: 100%;
        height: auto;
    }
    .skill_box .text {
        flex-wrap: wrap; 
        justify-content: space-evenly;
    }
    .skill_box .text > div {
        width: 100%;
        max-width: 30rem;
    }
}
@media (max-width: 600px) {
    .skill_box .text > div {
        width: 20rem;
    }
}

/* ====================================
    =======   portfolio   ======    
==================================== */
.port {
    width: 100%;
    max-width: var(--unit7);
    height: 100%;
    flex: 7 1 0;
    position: relative;
}
.portfolio .text_box {
    width: 100%;
    max-width: var(--unit5);
    height: 100%;
    flex: 5 1 0;
}

/* port */
.port > * {position: absolute;}

.port .text {
    font-size: 24rem;
    font-weight: 700;
    opacity: 0.2;
    line-height: 1;
    right: 0;
}
.port .main_screen {
    width: 100%;
    max-width: calc(var(--unit6) - 1.6rem);
    height: 100%;
    max-height: calc(var(--row) * 20);
    background-color: gray;
    top: calc(var(--row) * 5);
    z-index: 99;
    transition: all 0.3s;
}
.port .main_screen:hover {
    box-shadow: var(--shadow3);
    transform: translateY(-5px) translateX(-5px);
}
.port .main_mobile:hover {
    box-shadow: var(--shadow3);
    transform: translateY(-5px) translateX(-5px);
}

.main_screen.pc .pc_device {
    width: 100%;
    height: 100%;
    
}
.main_screen.pc .mask {
    width: 100%;
    height: calc(var(--row) * 20 - 2rem);
    top: 2.1rem;
    background-color: gray;
    overflow: hidden;
    border: 1px solid #bbb;
}
.main_screen.pc .mask img {
    width: 100%;
}

@media (max-width: 1350px) {
    .port .main_mobile {right: 2rem;}
}

.port > img {
    top: calc(var(--row) * 23.5);
    right: calc(var(--unit) - 3.5rem);
}

/* 모바일 스크린 */
.port .main_mobile {
    width: 100%;
    max-width: calc(var(--unit) * 1.5);
    height: 100%;
    max-height: calc(var(--row) * 11);
    z-index: 999;
    transition: all 0.3s;
    top: 40rem;
    right: 5rem;
    border-radius: 3rem;
}
.main_mobile .mask {
    width: calc(var(--unit) * 1.35);
    height: calc(var(--row) * 13 - 5px);
    overflow: hidden;
    background-color: gray;
    border-radius: 2rem;
    position: absolute; 
    z-index: 9999; 
    left:1rem; 
    top:.8rem;
}
.main_mobile .screen { 
    width:100%; 
}
.main_mobile .m_device { 
    width: calc(var(--unit) * 1.5); 
    border-radius: 3rem; 
    position: absolute;
}

/* 우측 설명 */
.portfolio .text_box {
    padding-top: calc(var(--row) * 4);
}
.portfolio .text_box h4 {
    line-height: calc(var(--row) * 3);
}
.portfolio .text_box h5 {
    line-height: calc(var(--row) * 3);
}
.portfolio .text_box p.explan {
    line-height: 1.75;
    font-size: 2.1rem;
    padding-right: 1rem;
}

/* 버튼 */
.portfolio .btn {gap: var(--gu);}
.portfolio .btn > div {
    border-radius: 4rem; 
    width: calc(var(--unit) * 1.2);
    height: calc(var(--row) * 2.2);
    line-height: calc(var(--row) * 2.1);
    text-align: center;
    transition: all 0.2s;
    margin-top: var(--row);
}

.btn_post {
    background-color: white;
    border: 3px solid var(--accent1);
}
.btn_post:hover {
    background-color: var(--accent1);
    color: white;
}
.btn_github {
    background: white; 
    border: 3px solid var(--accent4) ;
}
.btn_github:hover {
    background-color: var(--accent4);
}
.btn_site {
    background: white; 
    border: 3px solid var(--accent3) ;
}
.btn_site:hover {
    background-color: var(--accent3);
    color: white;
}

@media (max-width: 1000px) {
    .portfolio .inner {
        justify-content: center;
        flex-direction: column;
    }
    .portfolio {
        height: 140rem;
        margin-bottom: 10rem;
    }
    .case1 .inner, .case3 .inner{
        width: fit-content;
    }
    .case1 .text_box, .case3 .text_box {
        padding-top: 0;
    }
    .case2 .inner {
        width: 100%;
        max-width: 62rem;
    }
    .case2 .text_box {
        position: absolute;
        top: 70rem;
        width: 100%;
        height: auto;
    }
    .portfolio .text_box .btn {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

/* ====================================
    ======= team project ======    
==================================== */
.team h3 {
    text-align: center;
    line-height: calc(var(--row) * 6);
}
.team .screen, .team .text_box {
    margin-left: var(--unit);
}
@media (max-width: 1200px) {
    .team .screen {margin-left: 0;}
    .team .text_box {margin-left: 5rem;}
}

.team .main_screen {
    width: 100%;
    max-width: var(--unit7);
    flex: 7 1 0;
    position: relative;
}

.team .screen {
    width: 100%;
    max-width: var(--unit5);
    height: calc(var(--row) * 14);
    background-color: gray;
    border-radius: 2rem;
    transition: all 0.3s;
    overflow: hidden; 
    border: 1px solid #333;
}
.team .screen:hover {
    box-shadow: var(--shadow3);
    transform: translateY(-5px) translateX(-5px);
}

.team .screen .spl {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team .icon {
    position: absolute;
    right: -2.5rem;
    top: 35%;
}

/* text box */
.team .text_box {
    line-height: 175%;
    flex: 5 1 0;
}

.team .text_box h2+h5 {
    line-height: calc(var(--row) * 4);
}
.team .text_box p {margin-bottom: var(--row);}
.team .text_box h6 {
    color: var(--accent1);
    margin-bottom: var(--row);
}

/* 버튼 */
.team .btn {
    gap: var(--gu);
    justify-content: center;
    margin-left: var(--unit);
}
.team .btn > div {
    border-radius: 4rem; 
    width: calc(var(--unit) * 1.2);
    height: calc(var(--row) * 2.2);
    line-height: calc(var(--row) * 2.1);
    text-align: center;
    transition: all 0.2s;
    margin-top: var(--row);
}

@media (max-width: 800px) {
    .team {height: calc(var(--row) * 42);}
    .team .inner {width: 62rem;}
    .team .inner .df {
        flex-direction: column;
    }
    .team .icon {
        left: 59rem;
        top: 45%;
    }
    .team .main_screen .btn {
        position: absolute;
        flex-direction: row;
        margin-left: 0;
        bottom: -50rem;
        left: 50%;
        transform: translateX(-50%);
    }
    .team .text_box {
        margin-top: 5rem;
    }
}

/* ====================================
    ======= design ======    
==================================== */
.design h3 {
    text-align: center;
    padding-top: calc(var(--row) * 2);
}
.design .inner {
    justify-content: center;
    gap: var(--unit);;
    overflow: hidden;
}
.design .des {
    position: relative;
    width: var(--unit4);
    height: calc(var(--row) * 10);  
    padding-top: calc(var(--row) * 2);
}

.design .art {
    width: var(--unit4);
    height: calc(var(--row) * 10);
    background-color: gray;
    position: relative;
    border-radius: 2rem;
    transition: all 0.3s;
}
.design .art:hover {
    box-shadow: var(--shadow3);
    transform: translateY(-5px) translateX(-5px);
}

.design .para {
    width: var(--unit2);
    height: calc(var(--row) * 3);
    background-color: white;
    position: absolute;
    text-align: center;
    border-radius: 1rem;
    left: var(--unit);
    bottom: calc(var(--row) * -1);
}
.design .para p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.design .des1 .art {background: url(../source/book.jpg);}
.design .des2 .art {background: url(../source/cafe_new.jpg);}
.design .des3 .art {background: url(../source/cafe_new.jpg);}

/* ====================================
    ======= contact ======    
==================================== */
.contact {
    position: absolute;
    bottom: calc(var(--row) * -6);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;
    color: white;
    text-align: center;
    line-height: 1.75;
    transition: all 0.3s;
}
.contact h2 {
    font-weight: 400;
    line-height: calc(var(--row) * 4);
}
.contact h4 {
    margin-bottom: var(--row);
}

.contact .my {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.contact .call, .contact .mail {
    gap: 1rem;
    letter-spacing: 3px;
}
.contact .fa-solid {
    margin-top: 1.6rem;
    transform: scale(1.3);
}

.contact:hover {
    box-shadow: var(--shadow3);
}

/* ====================================
    ======= footer ======    
==================================== */