@import url(./reset.css);
@import url(./layout.css);

nav { 
    position: absolute; 
    left: 0rem; 
    top: 0rem;  
    z-index: 999;
} 
nav h1 > a { 
    display: block;
    background: var(--accent3, #6001d3); 
    border-radius: 50%; 
    width: 5rem; 
    height: 5rem; 
    color: white;
    text-align: center;
    line-height: 5rem;
    transform: translateY(1.6rem);
}
nav .menu {
    flex: 2;
    display: flex;
    line-height: 8.4rem;
    justify-content: flex-end;
    gap: 4%;
}
nav .menu a {font-size: 2rem;}

.fa-solid.fa-bars {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%) scale(2);
    opacity: 0;
}

@media (max-width: 800px) {
    .menu {opacity: 0;}
    .fa-solid.fa-bars {opacity: 1;}
}

/* ====================================
    ======= main_visual ======    
==================================== */

.main_visual {
    background-image: url(../source/origin/background.svg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main_visual .text {
    padding-top: 18%; 
}
.main_visual .text h3 {color: var(--accent1);}
@media (min-width: 1300px) {
    .main_visual .text {
        margin-right: var(--unit);
    }
}

/* 버튼 */
.main_visual .btn {gap: calc(var(--unit) * 0.5);}
.main_visual .btn > div {
    border-radius: 4rem; 
    width: calc(var(--unit) * 1.5);
    height: calc(var(--row) * 2.5);
    line-height: calc(var(--row) * 2.4);
    text-align: center;
    transition: all 0.2s;
    margin-top: var(--row);
}
.btn a {
    display: block;
    font-size: 2.4rem;
    font-weight: 600;
}
.btn_resume {
    background: var(--accent1, #fd346e); 
    color: white;
}
.btn_resume:hover {
    background-color: white;
    border: var(--accent1) solid 3px;
    color: black;
}
.btn_git {
    background: var(--accent4, #fcdc00); 
}
.btn_git:hover {
    background-color: white;
    border: var(--accent4) solid 3px;
}

/* 프로필사진 */
.main_visual .profile_img {
    width: 100%;
    max-width: calc(var(--unit) * 5);
    height: 100%;
    margin-left: -4rem;
    padding-top: calc(var(--row) * 4);
    position: relative;
    z-index: 5;
}
.profile_img img {
    width: 100%;
    height: auto;
}

.person .left_img {
    position: absolute;
    top: 0;
}
.left_img > img {
    position: absolute; 
    transform: scale(0.8);
    z-index: 999;
    transition: all 0.2s;
}

.left_img .left1 {top: 12rem; left: -10rem;}
.left_img .left2 {top: 55rem; left: -10rem;}
.left_img .left3 {top: 75rem; transform: scale(1); z-index: 1;}
.left_img .left3-1 {top: 73rem; left: 8rem;}

.right_img {
    position: absolute; 
    top: 0; 
    z-index: 999;
}
.right_img > img {
    position: absolute; 
    transform: scale(0.7);
    transition: all 0.2s;
}
.right_img .right1 {top: 20rem; left: 45rem; transform: scale(1)}
.right_img .right2 {top: 35rem; left: 40rem;}
.right_img .right3 {top: 65rem; left: 30rem;}

@media (max-width: 1350px) {
    .right_img {left: -1.5rem;}
}
@media (max-width: 1250px) {
    .main_visual .profile_img {transform: scale(0.8);}
    .left_img > img {transform: scale(0.6);}
    .left_img .left1 {top: 20rem; left: -8rem;}
    .left_img .left2 {top: 50rem; left: -10rem;}
    .left_img .left3 {top: 65rem; transform: scale(1); z-index: 1;}
    .left_img .left3-1 {top: 63rem; left: 8rem; transform: scale(0.8)}

    .right_img > img {transform: scale(0.6);}
    .right_img .right1 {top: 25rem; left: 42rem; transform: scale(1)}
    .right_img .right2 {top: 35rem; left: 38rem;}
    .right_img .right3 {top: 65rem; left: 25rem;}
}

@media (max-width: 1150px) {
    .left_img > img {transform: scale(0.5);}
    .right_img > img {transform: scale(0.5);}
    .right_img > .right1 {top: 20rem; left: 38rem; transform: scale(0.8)}
    .right_img > .right2 {top: 30rem; left: 33rem;}
    .right_img > .right3 {top: 60rem; left: 25rem;}
}

/* ====================================
    ======= about me ======    
==================================== */
.about_me h2 {
    text-align: center;
    line-height: calc(var(--row) * 6);
    padding-top: calc(var(--row) * 2);
}
.about_me h3, .about_me p.h5 {
    line-height: 175%;
}
.about_me h3 {color: var(--accent1);}

.about_me .text1 > div {
    width: 100%;
    max-width: var(--unit4);
    margin-bottom: calc(var(--row) * 2);
}

.circle {
    background-color: #FF895B;
    opacity: 0.2;
    width: var(--unit7);
    height: var(--unit7);
    position: absolute;
    border-radius: 50%;
    top: 30%;
    right: 0;
}

/* ====================================
    ======= skill ======    
==================================== */
.skill_box {
    width: var(--unit7);
    height: calc(var(--row) * 18);
    background-color: var(--accent3);
    color: white;
    margin: auto;
    transform: translateY(14rem);
    border-radius: 3rem;
    transition: all 0.5s;
}
.skill_box h3 {
    text-align: center;
    line-height: calc(var(--row) * 6);
}
.skill .point {font-size: 6.2rem; margin-bottom: 1rem;}
.skill .title {text-align: center; font-size: 2rem;}

.skill .text1 {
    justify-content: space-evenly; 
    margin-bottom: calc(var(--row) * 2);
}
.skill .text2 {justify-content: space-around;}

.skill_box:hover {
    box-shadow: var(--shadow3);
    transform: translateY(12rem) translateX(-1rem);
}

/* ====================================
    =======   portfolio   ======    
==================================== */
.port {
    width: 100%;
    max-width: var(--unit7);
    height: 100%;
    flex: 7 1 0;
    position: relative;
}
.portfolio .text_box {
    width: 100%;
    max-width: var(--unit5);
    height: 100%;
    flex: 5 1 0;
}

/* port */
.port > * {position: absolute;}
.port .text {
    font-size: 24rem;
    font-weight: 700;
    opacity: 0.2;
    line-height: 1;
    right: 0;
}
.port .main_screen {
    width: 100%;
    max-width: calc(var(--unit6) - 1.6rem);
    height: 100%;
    max-height: calc(var(--row) * 20);
    background-color: gray;
    top: calc(var(--row) * 5);
    border-radius: 2rem;
    z-index: 99;
    transition: all 0.3s;
}
.port .main_screen:hover {
    box-shadow: var(--shadow3);
    transform: translateY(-5px) translateX(-5px);
}

.port .main_screen:hover .main_mobile {
    box-shadow: var(--shadow3);
}

.port .main_mobile {
    width: 100%;
    max-width: calc(var(--unit) * 1.5);
    height: 100%;
    max-height: calc(var(--row) * 11);
    background-color: lightgray;
    z-index: 999;
    border-radius: 1rem;
    position: absolute;
    bottom: calc(var(--row) * -4);
    right: -5rem;
    transition: all 0.3s;
}
@media (max-width: 1350px) {
    .port .main_mobile {right: 2rem;}
}

.port > img {
    top: calc(var(--row) * 23.5);
    right: calc(var(--unit) - 3.5rem);
}

/* 우측 설명 */
.portfolio .text_box {
    padding-top: calc(var(--row) * 4);
}
.portfolio .text_box h4 {
    line-height: calc(var(--row) * 3);
}
.portfolio .text_box h5 {
    line-height: calc(var(--row) * 3);
}
.portfolio .text_box p.explan {
    line-height: 1.75;
    font-size: 2.1rem;
    padding-right: 1rem;
}

/* 버튼 */
.portfolio .btn {gap: var(--gu);}
.portfolio .btn > div {
    border-radius: 4rem; 
    width: calc(var(--unit) * 1.2);
    height: calc(var(--row) * 2.2);
    line-height: calc(var(--row) * 2.1);
    text-align: center;
    transition: all 0.2s;
    margin-top: var(--row);
}

.btn_post {
    background-color: white;
    border: 3px solid var(--accent1);
}
.btn_post:hover {
    background-color: var(--accent1);
    color: white;
}
.btn_github {
    background: white; 
    border: 3px solid var(--accent4) ;
}
.btn_github:hover {
    background-color: var(--accent4);
}
.btn_site {
    background: white; 
    border: 3px solid var(--accent3) ;
}
.btn_site:hover {
    background-color: var(--accent3);
    color: white;
}

/* ====================================
    ======= team project ======    
==================================== */
.team > h3 {
    text-align: center;
    line-height: calc(var(--row) * 6);
}

.team .screen {
    width: 100%;
    max-width: var(--unit6);
    height: calc(var(--row) * 14);
    background-color: gray;
}